body {
  background-color: #0F172A;
}

.trump-top,
.trump-bottom {
  background-image: url(/assets/trump-top.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: grayscale(.5); */
  height: 25vh;
  position: fixed;
  width: 100%;
}
.trump-top {
  top: 0;
}
.trump-bottom {
  background-image: url(/assets/trump-bottom.jpg);
  background-position: top center;
  bottom: 0;
}

@media screen and (min-width: 992px) {
  .trump-top,
  .trump-bottom {
    left: 32.5%;
    width: 35%;
  }
}

.trump-speech {
  margin-top: calc(25vh + 1em);
  min-height: 50vh;
}

.card-body {
  color: #FF5733;
  font-size: 1.5rem;
  text-transform: uppercase;
}
